/node-htmlcompiler/node_modules/babel-cli
/node-htmlcompiler/node_modules/http-server
/node-htmlcompiler/node_modules/babelify
/node-htmlcompiler/node_modules/babel-preset-es2015
/node-htmlcompiler/node_modules/browserify
/node-htmlcompiler/node_modules/cssom
/node-htmlcompiler/node_modules/.bin
